
<!-- templates/registration/password_reset_form.html -->
{% extends 'plantillas/Armafox.html' %}

{% block title %}¿Olvidaste tu contraseña?{% endblock %}

{% block content %}
  <article class="articuloform">
    <h1 style="color:#D35400;">¿Olvidaste tu contraseña? </h1>
  </article> 

  <article class="articuloform">
    <h4> Ingrese su dirección de correo electrónico a continuación, y le enviaremos instrucciones por correo electrónico para configurar una nueva contraseña. </h4>
  </article> 
  
  <form class="form" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit"  value=  " Enviarme Las Instrucciones">
  </form>

  <br/>
  <br/>
  <br/>
  <div id="divinovacion">
        
    <img id=imginovacion src="/static/img/img_login_logout.jpeg" alt="imagen inovacion">
     
  <br/> 
  <br/>
  <br/>
  </div>


{% endblock %}