<!-- templates/registration/password_reset_complete.html -->
{% extends 'plantillas/Armafox.html' %}

{% block title %}Password reset complete{% endblock %}

{% block content %}
<br/> 
<br/>
<br/>
<h1>Contraseña Cambiada Correctamente</h1>
<br/> 
<br/>
<p>Su nueva contraseña ha sido establecida. Puede iniciar sesión ahora en el <a href="{% url 'login' %}">log in page</a>.</p>
<br/> 
<br/>
<br/>
<div id="divinovacion">
        
  <img id=imginovacion src="/static/img/slideshow/A.computador.jpg" alt="imagen inovacion">
     
  <br/> 
  <br/>
  <br/>
</div>


{% endblock %}
 