
<!-- templates/registration/password_reset_form.html -->
{% extends 'plantillas/Armafox.html' %}

{% block title %}¿Olvidaste tu contraseña?{% endblock %}

{% block content %}
  <h1>Forgot your password?</h1>
  <p>Enter your email address below, and we'll email instructions for setting a new hereee.</p>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Enviarme Las Instrucciones">
  </form>

  <div id="divinovacion">
        
    <img id=imginovacion src="/static/img/slideshow/A.computador.jpg" alt="imagen inovacion">
     
  <br/> 
  <br/>
  <br/>
  </div>


{% endblock %}