{% extends 'plantillas/Armafox.html' %}


    
{% block content %}
<section id="mainform">
    <article class="articuloform">
        <h2>Para Solicitar Nuestros Servicios Complete Registro</h2>
    </article>   

    
    <form class="form"   method="POST" onsubmit="return validacionesFormulario();">
        {% csrf_token %}   
        <label for="nombre">Ingrese su nombre:</label>
        <input type="text" placeholder="escriba sus nombres" name ="first_name" id="first_name" >

        <label for="nombre">Ingrese su apellido:</label>
        <input type="text" placeholder="escriba sus apellidos" name="last_name" id="last_name" >

        <label for="usuario">Ingrese su Nombre de Usuario:</label>
        <input type="text" placeholder="escriba su nombre de usuario" name="username" id="username" >

        <label for ="correo">Ingrese su correo:</label>
        <input type="email" placeholder="@gmail.com/@hotmail.es" name="email" id="email" >

        <label for="password1">Ingrese su Contraseña:</label>
        <input type="password" placeholder="escriba su contraseña" name="password1" id="password1" >

        <label for="password2">Confirme su Contraseña:</label>
        <input type="password" placeholder="confirme su contraseña" name="password2" id="password2" >

        <br/>
        <br/>
        <input type="submit">
        <br/>
        <br/>
        
    </form>

</section>

<section id="informacion">
    <div class="numero">
        <p><strong>+ 569 97681778</strong></p>
    </div>

    <div class="parmado">
        <article>
        <p><strong>Más información en nuestras redes sociales</strong></p> 
        </article>
    </div>

    </div>

        <section class="redes">
            <div class="Facebook"><a target="_blank" href="
                https://www.facebook.com/ArmaFox-ARMAMOSTUPCENCASA-112910423409893/?modal=admin_todo_tour">Fac</a></div>
            <div class="Google"><a target="_blank" href="https://twitter.com/ArmafoxA">Goo</a></div>
            <div class="Instagran"><a target="_blank" href="https://www.instagram.com/armafox_armapc_cl/?hl=es-la">Ins</a></div>
            <div class="Email"><a target="_blank" href="armafoxadomicilio@gmail.com">Ema</a></div>
        </section>

    </div>

</section>
{% endblock %}
  