{% extends 'plantillas/Armafox.html' %}



{% block content %}
<section id="wiki">

    <article class="informacionwiki" >
        <h2>Procesador:</h3>
        <h3>Unidad Central de Procesamiento(CPU)</h3>
        <br>
        <p>
            Es conocido como el cerebro del sistema porque?
            Porque se encarga de computar ordenar y procesar la información, 
            si NO estuviese seria incapaz el equipo de realizar las funciones que 
            realiza como todos los cálculos matemáticos y todos los procesos de control 
            para que la computadora pueda realizar sus funciones.
            Básicamente es un chip que controla el movimiento y el tratamiento de datos 
            el cual va insertado en la tarjeta madre en un conector especial denominado socket, 
            al procesador encima se le conecta un disipador encargado de enfriar las altas temperaturas
            que presenta al estar en uso, de esta manera cuida que el componente(Procesador) no se queme o dañe.
            La potencia del procesador se mide en:<br />
            <b>GHz:</b> (Velocidad o Frecuencia de Funcionamiento) básicamente a mayor GHz mejor y más potente 
            es la velocidad del procesador para realizar más operaciones(“Pensar”).<br />
            <b>Núcleos:</b> a mayor núcleos permite más tráfico de información por 1 vía ejemplo:
            2 Núcleos :En una VIA (“Camino”)solo pueden circular 2 autos(“INFORMACION”) 
            6 Núcleos: En una VIA(“Camino”)Solo pueden Circular 4 autos(“INFORMACION”)
            En resumen a mayor núcleos traiga el procesador mayor es la capacidad de transferencia de información.
        </p>
    </article>
    
    <div id="divimgprocesador">
        <img class="imgwiki" src="/static/img/Procesador.png" alt="img procesador">
    </div>

    <article class="informacionwiki" >
        <h2> Tarjeta Grafica: </h3>
        <h3>Unidad de Procesamiento de Gráficos (GPU)</h3>
        <br>
        <p>
            En pocas palabras la GPU es en un chip de procesamiento que realiza y procesa cálculos matemáticos enfocado a funciones gráficas.
            Básicamente se encarga de regular y determinar las imágenes y textos  que observas en la computadora enviadas mediante señales al monitor, de esta manera busca mejorar la experiencia de juego, de edición o 3D, la tarjeta gráfica posee sus propios ventiladores integrados encargados de refrigerar las altas temperaturas que poseen al estar en funcionamiento 
            
            La potencia de una tarjeta gráfica a rasgos <b>generales</b> se mide en:
            Memoria de video(GB)
            A mayor memoria(GB) más potente es la tarjeta.
                
        </p>
    </article>
        
    <div id="divimgtarjeta">
        <img class="imgwiki" src="/static/img/Tarjeta-gráfica.png" alt="img tarjeta grafica">
    </div>
    

    <article class="informacionwiki" >
        <h2> Memoria RAM:</h3>
        <h3>Memoria de acceso aleatorio(RAM)</h3>
        <br>
        <p>
            En pocas palabras es la memoria a corto plazo del computador. Su función principal es recordar la 
            información que tienes en cada una de las aplicaciones abiertas en el computador mientras este se 
            encuentre <b>encendido.</b>
            De esta manera le permite al computador utilizar varios programas o aplicaciones al mismo tiempo. 
            Ayudando al procesador a resolver, reaccionar y ejecutar velozmente el estado en el que quedo el programa 
            gracias a la memoria  que le ofrece la RAM.
            La potencia de una memoria RAM se mide en :<br />
            <b>Capacidad(GB):</b> Si usted necesita navegar por internet con 2 GB le va a andar bien, Se recomienda 4 GB 
            para videos y programas de diseño. En cambio para juegos recomendamos 8 GB. Si usted necesita trabajar 
            en procesos complejos de multitareas de edición de video y sonido le recomendamos 16GB.<br />
            <b>Velocidad (MHz):</b> En resumen a Mayor (MHZ) más rápida es la velocidad de procesamiento. ... La velocidad 
            en MHz que posee la RAM puede variar según el tipo de memoria. Pero siempre viene asociada y optimizada 
            a los GB de la RAM.

                
        </p>
    </article>
            
    <div id="divimgmemoria">
        <img class="imgwiki" src="/static/img/ram.png" alt="img Memoria RAM">
    </div>

    
    <article class="informacionwiki" >
        <h2>Placa Madre:</h3>
        <br>
        <p>
            En pocas palabras  es una tarjeta de circuito impreso a la que se conectan los componentes que constituyen 
            la computadora, componentes importantísimos tales como: <br />
            <b>Memoria RAM,</b> <br />
            <b>Microprocesador,</b> <br />
            <b>Tarjeta Gráfica,</b> <br />
            <b>Fuente de Poder ,</b> <br />
            <b>Discos Duros</b> (Espacio de Almacenamiento del computador)<b>, </b><br />
            <b>Unidades Ópticas</b> (Lector de discos compactos o discos DVD)<b>.</b><br /> 
            En su interior, igualmente, se halla instalado el firmware del BIOS, software de sistema que permite regular 
            y probar las funciones elementales del hardware y hace las veces de soporte para la carga del sistema operativo.



                
        </p>
    </article>
                
    <div id="divimgplaca">
        <img class="imgwiki" src="/static/img/placa madre.png" alt="img Placa Madre">
    </div>
        

    <article class="informacionwiki" >
        <h2>Fuente de Poder:</h3>
        <br>
        <p>
            Fuente de poder es un componente del computador que se encarga de transformar una corriente eléctrica alterna en una 
            corriente eléctrica continua transmitiendo la corriente eléctrica imprescindible
            y necesaria a los ordenadores para el buen funcionamiento y protección de los dispositivos internos 
            de la computadora e inclusive, a algunos externos (como el teclado o el mouse).
                
        </p>
    </article>
                    
    <div id="divimgfuente">
        <img class="imgwiki" src="/static/img/fuente de poder.png" alt="img Fuente de Poder">
    </div>

            
</section>



<section id="informacion">
    <div class="numero">
        <p><strong>+ 569 97681778</strong></p>
    </div>

    <div class="parmado">
        <article>
        <p><strong>Más información en nuestras redes sociales</strong></p> 
        </article>
    </div>

    </div>

        <div class="redes">
            <div class="Facebook"><a target="_blank" href="
                https://www.facebook.com/ArmaFox-ARMAMOSTUPCENCASA-112910423409893/?modal=admin_todo_tour">Fac</a></div>
            <div class="Google"><a target="_blank" href="https://twitter.com/ArmafoxA">Goo</a></div>
            <div class="Instagran"><a target="_blank" href="https://www.instagram.com/armafox_armapc_cl/?hl=es-la">Ins</a></div>
            <div class="Email"><a target="_blank" href="armafoxadomicilio@gmail.com">Ema</a></div>
        </div>

    </div>

</section>

<div> 
    <a href="https://www.contadorvisitasgratis.com" title="contador de visitas html"><img src="https://counter7.wheredoyoucomefrom.ovh/private/contadorvisitasgratis.php?c=klbcx3aw1828pu98mgqqqu3bam45ep71" border="0" title="contador de visitas html" alt="contador de visitas html"></a>
</div>
<h3>Contador de Paginas Armafox</h3>
{% endblock %}

    
  