{%extends 'plantillas/Armafox.html'%}

<h1 align='center'>Su Listado de solicitud</h1></br>

{% block content %}
      
    

    <div class="table-responsive">
    <table class="table table-bordered table">
        <thead>
        <tr>
            <th>id solicitud</th>
            <th>Rut Cliente</th>
            <th>Nombre Completo</th>
            <th>Fecha de Visita</th>
            <th>Hora de la Visita</th>
            <th>Direccion</th>
            <th>Presupuesto</th>
            <th>Descripcion de PC a Solicitar</th>
            <th>Desea una Induccion¿</th>
            <th>Numero Celular</th>
            
        </tr>
        </thead>
        {%for s in solicitud%}
        <tr>
            <td>{{s.id_servicio}}</td>
            <td>{{s.rut_cliente}}</td>
            <td>{{s.Nombre_completo}}</td>
            <td>{{s.fecha_de_visita}}</td>
            <td>{{s.hora_de_visita}}</td>
            <td>{{s.direccion}}</td>
            <td>{{s.preosupuesto}}</td>
            <td>{{s.descripcion_pc_a_solicitar}}</td>
            <td>{{s.desea_induccion}}</td>
            <td>{{s.numero_celular}}</td>
            
        </tr>

        {%endfor%}
        
    </table>
    </div>

    <article>
            <br/>
            <br/>   
            <H1 align="center"> Armafox</H1>
            <br/>
            <br/> 
            <div id="divinovacion">
                
                <img id=imginovacion src= "/static/img/tecnico_cliente.jpeg" alt="imagen inovacion">
                 
            <br/> 
            <br/>
            <br/>
            </div>
    </article>

    <section id="informacion">
        <div class="numero">
            <p><strong>+ 569 97681778</strong></p>
        </div>
    
        <div class="parmado">
            <article>
            <p><strong>Más información en nuestras redes sociales</strong></p> 
            </article>
        </div>
    
        </div>
    
            <section class="redes">
                <div class="Facebook"><a target="_blank" href="
                    https://www.facebook.com/ArmaFox-ARMAMOSTUPCENCASA-112910423409893/?modal=admin_todo_tour">Fac</a></div>
                <div class="Google"><a target="_blank" href="https://twitter.com/ArmafoxA">Goo</a></div>
                <div class="Instagran"><a target="_blank" href="https://www.instagram.com/armafox_armapc_cl/?hl=es-la">Ins</a></div>
                <div class="Email"><a target="_blank" href="armafoxadomicilio@gmail.com">Ema</a></div>
            </section>
    
        </div>
        
    </section>




{%endblock%}
