{% extends "plantillas/Armafox.html" %}

{% block content %}
 
<article>
    <br/>
    <br/>   
    <H1 align="center"> Se Ha deslogueado correctamente gracias por considerar nuestros servicios</H1>
    <br/>
    <br/> 
    <div id="divinovacion">
        
        <img id=imginovacion src="/static/img/img_login_logout.jpeg" alt="imagen inovacion">
         
    <br/> 
    <br/>
    <br/>
    </div>
</article>

<section id="informacion">
        <div class="numero">
            <p><strong>+ 569 97681778</strong></p>
        </div>
    
        <div class="parmado">
            <article>
            <p><strong>Más información en nuestras redes sociales</strong></p> 
            </article>
        </div>
    
        </div>
    
            <section class="redes">
                <div class="Facebook"><a target="_blank" href="
                    https://www.facebook.com/ArmaFox-ARMAMOSTUPCENCASA-112910423409893/?modal=admin_todo_tour">Fac</a></div>
                <div class="Google"><a target="_blank" href="https://twitter.com/ArmafoxA">Goo</a></div>
                <div class="Instagran"><a target="_blank" href="https://www.instagram.com/armafox_armapc_cl/?hl=es-la">Ins</a></div>
                <div class="Email"><a target="_blank" href="armafoxadomicilio@gmail.com">Ema</a></div>
            </section>
    
        </div>
    
    </section>





{% endblock %}