{% extends 'plantillas/Armafox.html' %}

{% block content %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

 
<a class="btn btn-secondary"  href="http://127.0.0.1:8000/accounts/logout/" >Logout</a> </li>

<h1 align='center'>Ingrese los datos para generar su solicitud</h1></br>

{%if respuesta%}
<div class="alert alert-success" role="alert">
    Guardado exitoso.
</div>
{%endif%}


<form  align='center' method="POST">
    {%csrf_token%}
    <table  class="table table-striped table-bordered">

        <tr>
            <td>ID Servicio:</td>
            <td>
                <input min="1" max="999999999"  class="form-control" type="number" placeholder="id Servicio" name="id_servicio" id="id_servicio" required>
            </td>
        </tr>
        <tr>
            <td>Rut Cliente:</td>
            <td>
                <input minlength="12" maxlength="12" class="form-control" type="text" placeholder="formato xx.xxx.xxx-x" name="rut_cliente" id="rut_cliente" required>
            </td>
        </tr>
        <tr>
            <td>Nombre Completo:</td>
            <td>
                <input minlength="1" maxlength="50"  class="form-control" type="text" placeholder="Ingrese su Nombre" name="Nombre_completo" id="Nombre_completo" required>
            </td>
        </tr>

        <tr>
            <td>Fecha de Visita:</td>
            <td>
                <input minlength="10" maxlength="10" class="form-control" type="text" placeholder=" ejemplo 30/12/2019" name="fecha_de_visita" id="fecha_de_visita" required>
            </td>
        </tr>

            
        <tr>
            <td>Hora de Visita:</td>
            <td>
                <input minlength="5" maxlength="5" class="form-control" type="text" placeholder="formato xx:xx" name="hora_de_visita" id="hora_de_visita" required>
            </td>
        </tr>

    
        <tr>
            <td>Direccion:</td>
            <td>
                <input minlength="1" maxlength="100" class="form-control" type="text" placeholder="Ingrese Domicilio" name="direccion" id="direccion" required>
            </td>
        </tr>

        <tr>
            <td>Presupuesto:</td>
            <td>
                <input minlength="7" maxlength="9" class="form-control" type="text" placeholder="ingrese con puntos, max 1.500.000" name="preosupuesto" id="preosupuesto" required>
            </td>
        </tr>
        
        <tr>
            <td>Descripcion de PC a solicitar:</td>
            <td>
                <input minlength="6" maxlength="7" class="form-control" type="text" placeholder="juegos o trabajo" name="descripcion_pc_a_solicitar" id=" descripcion_pc_a_solicitar" required>
            </td>
        </tr>
        
        
        <tr>
            <td>Desea una Induccion(SI o NO):</td>
            <td>
                <input minlength="2" maxlength="2" class="form-control" type="text" placeholder="Si o No" name="desea_induccion" id="desea_induccion" required>
            </td>
        </tr>
       
        <tr>
            <td>Numero Celular:</td>
            <td>
                <input minlength="8" maxlength="8" class="form-control" type="text" placeholder="Ingrese Celular"  name="numero_celular" id="numero_celular" required>
            </td>
        </tr>

    
        
        <tr>
            <td></td>
            <td>
                <input type="submit" class="btn btn-success" value="Guardar">
                
                <input type="reset" class="btn btn-dark" value="Limpiar">
            </td>
        </tr> 

        
    </table>
    <br>
        
</form>
<br>
<a class="btn btn-secondary" role="button" href="{% url 'listar_solicitud' %}"  >Listar</a>
<br/>
<h2 align='center'>Listado de su solicitud</h2>
<br/>
<div class="table-responsive">
<table class="table table-sm">
    <thead  class="thead-dark" >
        <tr>
            <th>id solicitud</th>
            <th>Rut Cliente</th>
            <th>Nombre Completo</th>
            <th>Fecha de Visita</th>
            <th>Hora de la Visita</th>
            <th>Direccion</th>
            <th>Presupuesto</th>
            <th>Descripcion de PC a Solicitar</th>
            <th>Desea una Induccion¿</th>
            <th>Numero Celular</th>
            
        </tr>
        </thead>
        {%for s in solicitud%}
        <tr>
            <td>{{s.id_servicio}}</td>
            <td>{{s.rut_cliente}}</td>
            <td>{{s.Nombre_completo}}</td>
            <td>{{s.fecha_de_visita}}</td>
            <td>{{s.hora_de_visita}}</td>
            <td>{{s.direccion}}</td>
            <td>{{s.preosupuesto}}</td>
            <td>{{s.descripcion_pc_a_solicitar}}</td>
            <td>{{s.desea_induccion}}</td>
            <td>{{s.numero_celular}}</td>
            
        </tr>

        {%endfor%}
    
    </table>
</div>



<article>
    <br/>
    <br/>   
    <H1 align="center"> Armafox</H1>
    <br/>
    <br/> 
    <div id="divinovacion">
        
        <img id=imginovacion src= "/static/img/tecnico_cliente.jpeg" alt="imagen inovacion">
         
    <br/> 
    <br/>
    <br/>
    </div>
</article>


<section id="informacion">
        <div class="numero">
            <p><strong>+ 569 97681778</strong></p>
        </div>
    
        <div class="parmado">
            <article>
            <p><strong>Más información en nuestras redes sociales</strong></p> 
            </article>
        </div>
    
        </div>
    
            <section class="redes">
                <div class="Facebook"><a target="_blank" href="
                    https://www.facebook.com/ArmaFox-ARMAMOSTUPCENCASA-112910423409893/?modal=admin_todo_tour">Fac</a></div>
                <div class="Google"><a target="_blank" href="https://twitter.com/ArmafoxA">Goo</a></div>
                <div class="Instagran"><a target="_blank" href="https://www.instagram.com/armafox_armapc_cl/?hl=es-la">Ins</a></div>
                <div class="Email"><a target="_blank" href="armafoxadomicilio@gmail.com">Ema</a></div>
            </section>
    
        </div>
    
    </section>
{% endblock %}
