{% extends 'plantillas/Armafox.html' %}

{% block content %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
{% endblock%}

<a class="btn btn-secondary"  href="http://127.0.0.1:8000/accounts/logout/" >Logout</a> </li>

<a class="btn btn-secondary" role="button"   href="{% url 'lista_solicitudestecnico' %}">Listar solicitudes</a>

<a  class="btn btn-secondary" role="button"    href="{% url 'listar_producto' %}">Listar Productos</a>

<h1 >Listado de solicitudes</h1>
<div class="table-responsive">
    <table class="table table-bordered table">
        <tr class="thead-dark">
   
         
            <th>Id solicitud</th>
            <th>Rut cliente</th>
            <th>Nombre completo</th>
            <th>Fecha de visita</th>
            <th>Hora de visita</th>
            <th>Direccion</th>
            <th>Presupuesto</th>
            <th>Descripcion pc</th>
            <th>Desea induccion</th>
            <th>Numero celular</th>
          
 
        </tr>
        {% for s in solicitud %}
        <tr>
            <td>{{s.id_servicio}}</td>
            <td>{{s.rut_cliente}}</td>
            <td>{{s.Nombre_completo}}</td>
            <td>{{s.fecha_de_visita}}</td>
            <td>{{s.hora_de_visita}}</td>
            <td>{{s.direccion}}</td>
            <td>{{s.preosupuesto}}</td>
            <td>{{s.descripcion_pc_a_solicitar}}</td>
            <td>{{s.desea_induccion}}</td>
            <td>{{s.numero_celular}}</td>
            
        </tr>
        {%endfor%}
    </table>
</div>
   
<br>

<br>
<h1 >Listado de productos</h1>
    <div class="table-responsive">
    <table class="table table-bordered table">
        <thead class="thead-dark"  >
            <tr>
            <th>Id producto</th>
            <th>Procesador</th>
            <th>Placa</th>
            <th>Memoria_ram</th>
            <th>Tarjeta video</th>
            <th>Disco duro</th>
            <th>Modelo de Gabinete</th>
            <th>Precio</th>
            
            
        </tr>
        </thead>
        {%for p in productos%}
        <tr>
            <td>{{p.id_producto}}</td>
            <td>{{p.procesador}}</td>
            <td>{{p.placa}}</td>
            <td>{{p.memoria_ram}}</td>
            <td>{{p.tarjeta_video}}</td>
            <td>{{p.disco_duro}}</td>
            <td>{{p.modelo_gabinete}}</td>
            <td>{{p.precio }}</td>
           
        </tr>
        {%endfor%}
    </table>
    </div>

    <hr>
    <br/>
    <h1 >Pedido</h1>
    <br/>
    <hr>

    <form   method="POST"> 
        {% csrf_token %}  
        <table class="table table-striped table-bordered">
            <tr>
                <td>Numero de solicitud a abordar:</td>
                <td>
                    <input min="1" max="999999999"class="form-control" type="number" placeholder="Numero de solicitud a abordar" name="id_pedido" id="id_pedido" required>
                </td>
            </tr>

            <tr>
                <td>Codigo de Producto:</td>
                <td>
                    <input minlength="1" maxlength="4" class="form-control" type="text" placeholder="Escriba el codigo a comprar" name="codigo_producto" id="codigo_producto" required>
                </td>
            </tr>

            <tr>
                <td>Rut cliente:</td>
                <td>
                    <input minlength="12" maxlength="12" class="form-control" type="text" placeholder="Rut cliente xx.xxx.xxx-x" name="rut_cliente" id="rut_cliente" required>
                </td>
            </tr>

            <tr>
                <td>Nombre Cliente:</td>
                <td>
                    
                    <input minlength="1" maxlength="50" class="form-control" type="text" placeholder="Nombre Cliente" name="nombre_cliente" id="nombre_cliente" required>
                </td>
            </tr>

            <tr>
                <td>Rut Visitante:</td>
                <td>
                    <input minlength="12" maxlength="12" class="form-control" type="text" placeholder="Rut Tecnico xx.xxx.xxx-x" name="rut_visitante" id="rut_visitante" required>
                    
                </td>
            </tr>

            <tr>

                <td>Nombre de Visitante:</td>
                <td>
                    <input minlength="1" maxlength="50" class="form-control" type="text" placeholder="Nombre Visitante" name="nombre_visitante" id="nombre_visitante" required>
                </td>
            </tr>

            <tr>
                <td>Estado de Pedido:</td>
                <td>
                    <input minlength="2" maxlength="2" class="form-control" type="text" placeholder="pe = pendiente / co = completado" name="estado_pedido" id="estado_pedido" required>
                </td>
            </tr>

            <tr>
                <td>Celular:</td>
                <td>
                    <input minlength="8" maxlength="8" class="form-control" type="text" placeholder="ejemplo 77269585" name="numero_celular " id="numero_celular " required>
                </td>
            </tr>

            <tr>
                <td>Fecha para Despacho:</td>
                <td>
                    <input minlength="10" maxlength="10" class="form-control" type="text" placeholder="ejemplo 30/12/2019" name="fecha_de_despacho" id="fecha_de_despacho" required>
                </td>
            </tr>
    
            <tr>
                <td></td>
                <td>
                    <input type="submit" class="btn btn-success" value="Guardar">
                    
                    <input type="reset" class="btn btn-dark" value="Limpiar">
                </td>
            </tr> 

        </table>                     
    
    </form>   
{%endblock%}
