{% extends 'plantillas/Armafox.html' %}

{% block content %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <br/>
    <a class="btn btn-secondary"  href="http://127.0.0.1:8000/accounts/logout/" >Logout</a> </li>
    <a class="btn btn-secondary" role="button"   href="{% url 'listar_soli_tecnico' %}">Listar solicitudes</a>
    <a  class="btn btn-secondary" role="button"    href="{% url 'listar_producto' %}">Listar Productos</a>
    <a  class="btn btn-secondary" role="button"    href="{% url 'listarpedidos' %}">Listar Pedidos</a>
    <br/>

    <hr>
    <br/>
    <h1 align='center' >Ingrese el Pedido</h1>
    <br/>
    <hr>

    <form   method="POST"> 
        {% csrf_token %}  
        <table class="table table-striped table-bordered">
            <tr>
                <td>Numero de solicitud a abordar:</td>
                <td>
                    <input minlength="1" maxlength="2" class="form-control" type="number" placeholder="Numero de solicitud a abordar" name="id_pedido" id="id_pedido" required>
                </td>
            </tr>

            <tr>
                <td>Codigo de Producto:</td>
                <td>
                    <input minlength="1" maxlength="4" class="form-control" type="text" placeholder="Escriba el codigo a comprar" name="codigo_producto" id="codigo_producto" required>
                </td>
            </tr>

            <tr>
                <td>Rut cliente:</td>
                <td>
                    <input minlength="12" maxlength="12" class="form-control" type="text" placeholder="Rut cliente xx.xxx.xxx-x" name="rut_cliente" id="rut_cliente" required>
                </td>
            </tr>

            <tr>
                <td>Nombre Cliente:</td>
                <td>
                    
                    <input minlength="1" maxlength="50" class="form-control" type="text" placeholder="Nombre Cliente" name="nombre_cliente" id="nombre_cliente" required>
                </td>
            </tr>

            <tr>
                <td>Rut Visitante:</td>
                <td>
                    <input minlength="12" maxlength="12" class="form-control" type="text" placeholder="Rut Tecnico xx.xxx.xxx-x" name="rut_visitante" id="rut_visitante" required>
                    
                </td>
            </tr>

            <tr>

                <td>Nombre de Visitante:</td>
                <td>
                    <input minlength="1" maxlength="50" class="form-control" type="text" placeholder="Nombre Visitante" name="nombre_visitante" id="nombre_visitante" required>
                </td>
            </tr>

            <tr>
                <td>Estado de Pedido:</td>
                <td>
                    <input minlength="2" maxlength="2" class="form-control" type="text" placeholder="pe = pendiente / co = completado" name="estado_pedido" id="estado_pedido" required>
                </td>
            </tr>

            <tr>
                <td>Celular:</td>
                <td>
                    <input minlength="8" maxlength="8" class="form-control" type="text" placeholder="ejemplo 77269585" name="numero_celular " id="numero_celular " required>
                </td>
            </tr>

            <tr>
                <td>Fecha para Despacho:</td>
                <td>
                    <input minlength="10" maxlength="10" class="form-control" type="text" placeholder="ejemplo 30/12/2019" name="fecha_de_despacho" id="fecha_de_despacho" required>
                </td>
            </tr>
    
            <tr>
                <td></td>
                <td>
                    <input type="submit" class="btn btn-success" value="Guardar">
                    
                    <input type="reset" class="btn btn-dark" value="Limpiar">
                </td>
            </tr> 

        </table>                     
    
    </form>
    <br/>
    
    
    <article>
        <br/>
        <br/>   
        <H1 align="center"> Armafox</H1>
        <br/>
        <br/> 
        <div id="divinovacion">
            
            <img id=imginovacion src= "/static/img/tecnico_cliente.jpeg" alt="imagen inovacion">
            
        <br/> 
        <br/>
        <br/>
        </div>
    </article>
    
    
    <section id="informacion">
        <div class="numero">
            <p><strong>+ 569 97681778</strong></p>
        </div>
    
        <div class="parmado">
            <article>
            <p><strong>Más información en nuestras redes sociales</strong></p> 
            </article>
        </div>
    
        </div>
    
            <section class="redes">
                <div class="Facebook"><a target="_blank" href="
                    https://www.facebook.com/ArmaFox-ARMAMOSTUPCENCASA-112910423409893/?modal=admin_todo_tour">Fac</a></div>
                <div class="Google"><a target="_blank" href="https://twitter.com/ArmafoxA">Goo</a></div>
                <div class="Instagran"><a target="_blank" href="https://www.instagram.com/armafox_armapc_cl/?hl=es-la">Ins</a></div>
                <div class="Email"><a target="_blank" href="armafoxadomicilio@gmail.com">Ema</a></div>
            </section>
    
        </div>
    
    </section>




{%endblock%}
